$border-radius:               .375rem !default;
$border-radius-sm:            .25rem !default;
$border-radius-lg:            .5rem !default;
$border-radius-xl:            1rem !default;
$border-radius-xxl:           2rem !default;
$border-radius-pill:          50rem !default;



$border-width: .5rem;

$font-heading-size: 3rem;
$font-seccondary-size: 1.5rem;
$font-semibold: 600;