@forward "base";
@forward "abstract";

html,
body,
#root {
  min-height: 100%;
  background: linear-gradient(to bottom, #0f0f1a, #0a0a12);
}

.main-wrapper {
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(to bottom, #0f0f1a, #0a0a12);
  min-height: 100vh;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#content {
  background: transparent;
}
